{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'projects/css/styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'projects/img/favicon.icofavicon.ico' %}">
    <title>Document</title>
</head>
<body>
    <h1>Lista de Proyectos</h1>
    <ul>
        {% for project in projects %}
        <li><a href="{% url 'project_detail' project.pk %}">{{ project.name }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>